/*Nav bar*/
nav{
	background-color:  #1a75ff;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav li {
    float: right;
}
nav img{
	float: left;
	height: auto;
	width: 40px;

}
nav h3{
	float: left;
 	color: white;
	text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
	font-family: ariel;
}
nav h3 div{
	margin-left : 0.2cm;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav li a:hover:not(.active) {
    background-color: #111;
}
nav .active {
    background-color: #33ccff;
}