label {
	color: whitesmoke;
	background-color: #1a75ff;
}


.LoginBox {
	width: 300px;
	border: 1px solid  ;
	border-radius: 5px;
	margin-left: 30em;
	margin-top:1em ;
}

.topic {
	background-color: #1a75ff;
	border: 1px solid  ;
	border-radius: 5px;
}
#Submit {
	float: right;
}
.LoginInputBox{
	margin-top: 0.5em;
	margin-bottom: 2em;
	margin-left: 0.5em ;
	margin-right: 0.5em ;
	border: 1px solid lightgray;
	text-align: center;
}
.LoginInputFields {
	margin-top:0.5em ;
}
#userName {
	margin: 4px;
}
#password {
	margin: 4px;
}
#confirmPassword {
	margin: 2px;
	margin-right :20px;
}
input[type=text] {
	width: 150px;
}