/*comment for brnach sakak!*/
section {
    margin: 1em;
    margin-left: 15em;
}
article {
    margin: 1em;
    margin-left: 15em;
}
.usersDiv {
    border: 3px solid lightgray;

}
.userInfoDiv {
}
ul {
    list-style-type: none;
}
#Followees {
    margin-right: 10px;
}
.usersDivFollowees {
    border: 3px solid lightgray;
    margin-left: 950px;
    margin-right: 150px;
    margin-bottom: 800px;
}
.userInfoDivFollowees {
    margin: 5px;
}
